@charset "utf-8";
/* CSS Document */

body{
	background-color:#EDEDED;
}

#background
{
	margin-top:-10px;
	margin-left:-10px;
	height:150px;
	width:100%;
	min-width:1400px;
}

#introduction
{
	width:25%;
	background-image:url(../images/nano-tubes.jpg);
	border:thin solid ;
	text-align:center;
	color:#FFFFFF;
	font:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:18px;
}

#links
{
	border:thin solid #000000;
	float:right;
	font-size:20px;
}

.breaks
{
	margin-left:-10px;
}


#first_video p
{
	color:#FFFFFF;
	width:25%;
	text-align:center;
	background-image:url(../images/header-red-and-black-940-x-198.jpg);
	font:Impact;
	font-size:20px;
}

#first_video iframe
{
	float:right;
	margin-top:-220px;
	margin-right:10px;
	margin-bottom:5px;
}

#second_video p
{
	color:#FFFFFF;
	width:25%;
	text-align:center;
	background-image:url(../images/header-red-and-black-940-x-198.jpg);
	font:Impact;
	font-size:20px;
}

#second_video iframe
{
	float:right;
	margin-top:-150px;
	margin-right:10px;
	margin-bottom:5px;
}

#third_video p
{
	color:#FFFFFF;
	width:25%;
	text-align:center;
	background-image:url(../images/header-red-and-black-940-x-198.jpg);
	font:Impact;
	font-size:20px;
}

#first_animation p
{
	color:#FFFFFF;
	width:25%;
	text-align:center;
	background-image:url(../images/header-red-and-black-940-x-198.jpg);
	font:Impact;
	font-size:20px;
}

#second_animation p
{
	color:#FFFFFF;
	width:25%;
	text-align:center;
	background-image:url(../images/header-red-and-black-940-x-198.jpg);
	font:Impact;
	font-size:20px;
}

#second_animation img
{
	float:right;
	margin-top:-75px;
	margin-right:200px;
	margin-bottom:5px;
}

#third_animation p
{
	color:#FFFFFF;
	width:25%;
	text-align:center;
	background-image:url(../images/header-red-and-black-940-x-198.jpg);
	font:Impact;
	font-size:20px;
}

#third_animation img
{
	margin-right:10px;
	margin-bottom:5px;
}

#fourth_animation p
{
	color:#FFFFFF;
	width:25%;
	text-align:center;
	background-image:url(../images/header-red-and-black-940-x-198.jpg);
	font:Impact;
	font-size:20px;
}

#fifth_animation p
{
	color:#FFFFFF;
	width:25%;
	text-align:center;
	background-image:url(../images/header-red-and-black-940-x-198.jpg);
	font:Impact;
	font-size:20px;
}

p > a:link
{
	color:#E0FF00;
}
p > a:visited
{
	color:#D000FF;
}

#external_links
{
	float:right;
	margin-right:15px;
	font-size:22px;
	font-family:Arial Black;
}

#external_links_top
{
	float:right;
	margin-top:-40px;
	margin-right:15px;
	font-size:22px;
	font-family:Arial Black;
}