@charset "utf-8";
/* CSS Document */

#background
{
	margin-top:-10px;
	margin-left:-10px;
	height:150px;
	width:100%;
	min-width:1400px;
}

#introduction
{
	width:25%;
	background-image:url(../images/nano-tubes.jpg);
	border:thin solid ;
	text-align:center;
	color:#FFFFFF;
	font:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-size:18px;
}

img
{
	margin-left:-10px;
}